<h3>Hero list</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Deleted hero <small class="text-danger">{{ deletedHero }}</small></h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>There is nothing deleted</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger"
>
  Remove last hero
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let hero of heroNames"
    class="list-group-item"
  >
    {{ hero }}
  </li>
</ul>
